<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link href="/assets/css/burger_style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">

    <title> Eat-Da-Burger! </title>

</head>

<body>
    <img src="/assets/img/burger.png"> <!-- Why won't my CSS load?!?! -->

    {{{ body }}}

</body>

</html>