<main>
    <div class="container">
        <h1>Welcome to Eat-Da-Burger</h1>
        <p>Below are the burgers currently in inventory, do you want to eat any of them?</p>
        <div class="burger-before">
            <div class="col s6">

                {{#each burgers}}
                {{#unless this.devoured}}
                <div>
                    <form action="/burgers/{{this.id}}?_method=PUT" method="POST">
                        <button type="submit" class='burgerAvailable'> {{this.burger_name}}</button>
                    </form>
                </div>
                {{/unless}}
                {{/each}}
            </div>

            <div class="burger-after">
                {{#each burgers}}
                {{#if this.devoured}}
                <div class='burgerEaten'>
                    <div>
                        {{this.burger_name}}
                    </div>
                </div>
                {{/if}}
                {{/each}}
            </div>
        </div>
    </div>
</main>

<div class="submit-row">
    <div class="col s12">
        <form action="/burgers" method="POST">
            <input type="text" id="name" name="burger_name" placeholder="">
            <button type="submit" class="addBurgerButton">Submit</button>
        </form>
        <h5>"Please enter the name of your next fancy burger!"<h5>
    </div>
</div>